<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SmartOfficeApplication.Properties.Settings.Smart_Office_2_0ConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=&quot;Smart Office 2.0&quot;;Persist Security Info=True;User ID=user2.0;Password=losen;User Instance=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>