# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
SmartOfficeApplication/SmartOfficeApplication/App.config
SmartOfficeApplication/.vs/SmartOfficeApplication/v15/Server/sqlite3/storage.ide-wal
SmartOfficeApplication/.vs/SmartOfficeApplication/v15/Server/sqlite3/storage.ide-shm
SmartOfficeApplication/.vs/SmartOfficeApplication/v15/Server/sqlite3/storage.ide
SmartOfficeApplication/.vs/SmartOfficeApplication/v15/Server/sqlite3/db.lock
SmartOfficeApplication/.vs/SmartOfficeApplication/v15/.suo
SmartOfficeApplication/SmartOfficeApplication/obj/Debug/DesignTimeResolveAssemblyReferences.cache
SmartOfficeApplication/SmartOfficeApplication/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
SmartOfficeApplication/SmartOfficeApplication/obj/Debug/SmartOfficeApplication.csproj.CoreCompileInputs.cache
SmartOfficeApplication/SmartOfficeApplication/obj/Debug/SmartOfficeApplication.csprojAssemblyReference.cache
SmartOfficeApplication/SmartOfficeApplication/Properties/Settings.settings
